.header{
   margin-left: 40%;
}

.para1{
    background-color: red;
    text-align: center;
    width: 50%;
}

.para2{
    background-color: blueviolet;
    text-align: center;
    width: 50%;
}

.para3{
    background-color: lightgoldenrodyellow;
    text-align: center;
    width: 50%;
}